{% extends 'base.html' %}

{% block head %}
	<title>Reset</title>
{% endblock %}


{% block body %}
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4">{{ name }}</h1>
  		</div>
	</div>

	<div class="container">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">Submit</button>
			<button class="btn btn-dark" type="button" id="button-2" onclick="window.location.href = 'http://localhost:8000/profile/edit/';">Go Back</button>
		</form>
	
	</div>
{% endblock %}