{% extends 'base.html' %}

{% block head %}
	<title>Edit</title>
{% endblock %}


{% block body %}
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4">{{ name }}</h1>
  		</div>
	</div>

	<div class="container">
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="http://localhost:8000/profile/">Profile</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
      
		</nav>
	</div>

	<div class="container">
		<hr>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<hr>
			<button type="submit" class="btn btn-primary">Submit</button>

			<!-- <button class="btn btn-dark" type="button" id="button-2" onclick="window.location.href = 'http://localhost:8000/profile/';">Profile</button> -->
		</form>
		
	</div>
{% endblock %}